:root {
  --ff: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --clr-gray: #787C7E;
  --clr-green: #6AAA64;
  --clr-yellow: #C9B458;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

#word-table {
  margin: auto;
}

h1 {
  border-bottom: 2px solid green;
  font-family: var(--ff);
  font-size: 2.5rem;
  margin-bottom: 1em;
  padding-block: 1em;
  text-align: center;
  text-transform: capitalize;
}

.main-content {
  height: 100%;
}

.row,
.word-container {
  display: flex;
  justify-content: center;
}

form.row:first-child input.col {
  border-top: 2px solid black;
}

form.row:last-child input.col {
  border-bottom: 2px solid black;
}

.col {
  height: 4rem;
  width: 4rem;
  text-transform: uppercase;
}

input.col {
  text-align: center;
  font-size: 1.5rem;
  border: solid black;
  border-width: 1px;
}

input.col:first-child {
  border-left: 2px solid black;
}

input.col:last-child {
  border-right: 2px solid black;
}

.row button[type="submit"] {
  display: none;
}

.alert {
  border-radius: 100vmax;
  font-family: var(--ff);
  margin: 2.5rem auto;
  padding: 2em;
  width: fit-content;
}

.correct {
  border: 2px solid green;
}

.wrong {
  border: 2px solid red;
}

.hidden {
  display: none;
}